services:
  postgres:
    image: postgres:16
    container_name: ebitda_pg16
    environment:
      POSTGRES_DB: ${PG_DB}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - ebitda_pgdata:/var/lib/postgresql/data
      - ../sql:/sql
      - ../data/raw:/data/raw
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  ebitda_pgdata:
